/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
::-webkit-scrollbar { 
  display: none; 
}
*{
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
body, html{
  height: 100%;
}
body{
  overflow-x: hidden;
  background-image: url("imgs/acscrest.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
#mainNav{
  background-color: rgba(0, 0, 0,0);
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 0rem;
  padding-top: .2rem;
}
.navbar-toggler{
  border: 0px;
}
.navbar-toggler span{
  color: white;
}
.navbar-brand{
  padding: 2px;
  text-transform: uppercase;
  font-size: 1.1rem;
  color: white;
}
.navbar-brand:hover{
  background-color: aquamarine;
  color: black;
}
.nav-link{
  padding: 2px;
  font-size: 1.1rem;
  text-transform: uppercase;
  color: white;
  display: relative !important;
}

/* used to have nav-link:hover with .active */
.nav-link:hover, .nav-link.active{ 
  background-color: aquamarine;
  color: black;
}
#landing{
  background-color: rgba(0, 0, 0, 0.9);
  height: 100%;
}
#welcomeLanding{
  color: white;
  height: 30%;
  background-color: rgba(0, 0, 0, 0.9);
}
#welcomeLanding>h1{
  font-size: 5rem;
}
#caption {
  color: white;
  margin-left: 20%;
  margin-right: 20%;
  position: absolute;
  top: 25%;
}
#caption> h1{
  font-size: 5rem;
  margin-bottom: 2rem;
}
#caption> h5{
  font-size: 1rem;
  margin-bottom: 2rem;
}
#caption > a{
  border-radius: 0px !important;
  font-size: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.captionElement{
  display: none;
}
.modal{
  color: black !important;
}
#formAlert{
  font-size: .5rem;
  position: absolute;
  top: 5%;
}


#about{
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
}
#creators{
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
}
#howto{
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  height: 100% !important;
}
#myquizsets{
  height: 100%;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.9);
}
.font2{
  font-family: 'Roboto', sans-serif !important;
}
.fontsize2{
  font-size: 1rem !important;
}
.offset{
  display: none;
  padding: 1rem;
  font-size: 1.3rem;
}
.quiz{
  color: red;
}
.correctAnswer{
  background-color: green;
  color: white;
}