/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
::-webkit-scrollbar { 
  display: none;
}
*{
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
body, html{
  height: 100%;
}
body{
  overflow-x: hidden;
  background-image: url("imgs/acscrest.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
#mainNav{
  background-color: rgba(0, 0, 0,0);
  padding-left: 10rem;
  padding-right: 10rem;
  padding-bottom: .4rem;
  padding-top: .4rem;
  transition: background-color .5s;
}
.navbar-toggler{
  border: 0px;
}
.navbar-toggler span{
  color: white;
}
.navbar-brand,.nav-link{
  padding: 10px;
  text-transform: uppercase;
  font-size: 1.1rem;
  color: white;
  transition: color .4s;
}


.nav-link:hover, .navbar-brand:hover{
  color: burlywood;
}
.nav-link.active{ 
  transition: background-color .6s;
  background-color: burlywood;
  color: white;
}
#homeNav.active{
  background-color: transparent;
  color: white;
}
#landing{
  background-color: rgba(0, 0, 0, 0.9);
  height: 100%;
}
#welcomeLanding{
  color: white;
  height: 30%;
  background-color: rgba(0, 0, 0, 0.9);
}
#welcomeLanding>h1{
  font-size: 5rem;
}
#caption {
  color: white;
  margin-left: 20%;
  margin-right: 20%;
  position: absolute;
  top: 25%;
}
#caption> h1{
  font-size: 5rem;
  margin-bottom: 2rem;
}
#caption> h5{
  font-size: 1rem;
  margin-bottom: 2rem;
}
#caption > a{
  border-radius: 0px !important;
  font-size: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.captionElement{
  display: none;
}
.modal{
  color: black !important;
}
.btn-custom{
  color: white;
  background-color: burlywood;
  transition: background-color .5s;
}
.btn-custom:hover{
  color: white;
  background-color:rgb(207, 173, 127);
}
#formAlert{
  font-size: .5rem;
  position: absolute;
  top: 5%;
}

#about{
  height: 75%;
  background-color: burlywood;
  color: black;
}
#creators{
  height: 50%;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
}
#howto{
  background-color: burlywood;
  color: black;
  height: 100%;
}
#myquizsets{
  height: 100%;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.9);
}
#footer {
  background-color: black;
  color: white;
}
#footer p{
  font-family: monospace;

}
.font2{
  font-family: 'Roboto', sans-serif !important;
}
.fontsize2{
  font-size: 1rem !important;
}
.offset{
  display: none;
  padding: 5rem;
  font-size: 1rem;
}
.quiz{
  color: red;
}
.correctAnswer{
  background-color: green;
  color: white;
}